*{
	margin: 0px;
	padding: 0px;
}
body{
	font : 12pt Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin : 20px 0px 20px 0px;
	text-align: center;
	
}
#contenedor{

	text-align: justify;
	width: 1000px;
	background-color : #ffffff;
	margin: auto;
} 
#cabecera{
	border-radius: 10px 10px 10px 10px;
	height : 150px;
	width: 1000px;
	background-image: linear-gradient(200deg,rgb(11, 123, 228), rgb(33, 3, 88) );
	text-align: center;
	
} 
#cabecera h1{
	position:relative;
	width: 500px;
	border-bottom:solid;
	top:10%;
	left: 50%;
	font: ITALIC, 18pt Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : white ;
	}	

#cabecera h2{
	position:relative;
	width: 500px;
	top:10%;
	left: 50%;
	font: italic, 14pt Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : rgb(253, 253, 253);
}
#barra_navegacion{
	position:relative;
	width: 980px;
	text-align:center;
	border-radius: 10px 10px 10px 10px;
	background-image: linear-gradient(200deg,#2935BF, #47595E);
	padding : 3px 10px 5px 10px;
	border-top : 1px solid #cccccc;
	border-bottom : 1px solid #cccccc;
} 
A.enlacenav, A.enlacenav:VISITED, A.enlacenav:ACTIVE, A.enlacenav:FOCUS, A.enlacenav:LINK{
	color:white;
	text-decoration: none;
	text-align: center;
	margin: 10px 35px;
}
A.enlacenav:HOVER{
color:white;
margin: 0px 35px;
text-shadow: white 1px 1px;
text-decoration: none;
} 

#cuerpo{
width:500px;
min-height: calc(100% - 4rem);
margin-left: 8px;
padding: 12px 20px 10px 20px;
background-color : #ffffff;
float:left;
opacity:0.60;

} 
#cuerpo h1{
	color:FF9900;
	font-size: 12pt;
	font-weight : bold;
	opacity:1.00;
}

ul
{
list-style-type: none;
padding: 0px;
margin: 0px;

}
li
{
background-image: url("../imagenes/vineta.png");
background-repeat: no-repeat;
background-position: 02px 3px;
padding-left: 20px;
}

#seccion{
	font: 12pt Italic,Verdana, Geneva, Arial, Helvetica, sans-serif; 
	width: 250px;
	height:auto;
	background-image: linear-gradient(180deg, #033297,#2967ee);
	float:left; 
	border-radius: 15px; 
	color: white;
	text-align: center;
	-moz-border-radius: 15px; 
	-webkit-border-radius: 15px; 
	padding: 2px 2px 20px 2px;
	margin-bottom: 10px;
}

#seccion h1{
	border-bottom: white solid;
	width: auto;
	margin-bottom: 10x;
	border-top-left-radius: 15px 15px;
	border-top-right-radius: 15px 15px;
	padding: 10px;
	font-family:verdana;
	font-size: 18px;
	text-align:center;
}

#seccion h2{	
	width: auto;
	padding: 10px;
	margin: 20px 10px 20px 10px;
	border-bottom: white solid;
	border-top: white solid;
	font-family:verdana;
	font-size: 18px;
	text-align:center;
}

#seccion h2:hover{
	opacity:0.60;
}

form {
	font:16px verdana bold;
	padding:10px 10px;
	margin-right: 5px;
	text-align: left;
}
input{
	width:auto;
	margin-left: 10px;
	background: none;
	border:none;
	border-bottom: solid 3px white;
	float:right;
	
}
input:hover{
	opacity: 20%;
}
.boton {
	background:0;
	cursor: pointer;
	transition: all .3s;
	border: 5px  white solid;
	padding: 5px 20px;
	margin-right: 80px;
	margin-top: 10px;
	font: 15px bold verdana;
	color: white;
	text-transform: uppercase;
} 
.boton:hover{
	background: #474544;
	color:white;
}
label{
	width:78px;
	font: bold verdana;
	float:left;
}
#galeria{
margin: 10px 10px 10px 10px;
width: auto;
height:auto;
display: grid;
background-image: linear-gradient(40deg,#DBE6FD,#4e7ddb);
float:right; 
border-radius: 15px; 
-moz-border-radius: 15px; 
-webkit-border-radius: 15px; 
padding: 2px 2px 20px 2px;
}


div.imagen
{
  margin: 2px;
  border: 0px solid #0000ff;
  height: auto;
  width: auto;
  float: left;
  text-align: center;
  
}	
div.imagen img
{
	display: inline;
	margin: 3px;
	border: 1px solid #ffffff;
	opacity:0.9;
	filter:alpha(opacity=40);
}
div.imagen a:hover img {border: 1px solid #0000ff;
 opacity:1.0;
filter:alpha(opacity=100);}

div.desc
{
  text-align: center;
  font-weight: normal;
  width: 120px;
  margin: 5px;
  color:rgb(0, 0, 0) ;
}

.actual{
	color: white;
	margin: 0px 35px;
	}
	
.varias{
   -moz-column-count:1;
   -moz-column-gap:40px;
   -moz-column-rule: 3px solid #ccf;

   -webkit-column-count:1;
   -webkit-column-gap:40px;
   -webkit-column-rule: 3px solid #ccf;
    
   }
#piepagina{
	position:relative;
	margin:20px;
	background-color:blue;
	width:auto;
	height:4rem;
	opacity: 40%;
	font: 10pt Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #82f300;
	text-align: center;
}